git+https://github.com/facebookresearch/detectron2.git
typer==0.3.2
click==7.1.2
black==21.4b2
spacy==3.0.9
scipy==1.10.1
boto3==1.26.133
lvis
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
gradio==3.30.0
